
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddAdmin</title>
    <title>SignUp</title>
    <!-- Favicon -->
    <link href="../../Pictures/wallpapersden.com_daniel-craig-007-james-bond-aston-martin-car-photoshoot_7680x4320.ico" rel="icon">


    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div>
        <button class="w-72 mt-4 text-teal-300  bg-teal-700 hover:bg-emerald-400 font-bold hover:text-cyan-900 py-2 px-4 rounded focus:outline-none focus:shadow-outline" style="height:50px;">

            @Html.ActionLink("ListAdmin", "ListAdmin", new { @class = "btn btn-warning" })
        </button>
        @using (Html.BeginForm("AddAdmin", "Admin", FormMethod.Post))
        {
            <div class="mt-16 bg-sky-400 text-center" style="width:300px;height:680px">

                <div class="grid grid-raw-2">
                    <label class=" text-xl text-teal-700">User Name</label>
                    <input name="userName" class="border-4 border-green-500 rounded-full " type="text" />
                </div>

                <div class="grid grid-raw-2 mt-4">
                    <label class=" text-xl text-teal-700">Password</label>
                    <input name="password" class="border-4 border-green-500 rounded-full " type="text" />
                </div>

                <div class="grid grid-raw-2">
                    <label class=" text-xl text-teal-700">First Name</label>
                    <input name="firstName" class="border-4 border-green-500 rounded-full " type="text" />
                </div>

                <div class="grid grid-raw-2 mt-4">
                    <label class=" text-xl text-teal-700">Last Name</label>
                    <input name="lastName" class="border-4 border-green-500 rounded-full " type="text" />
                </div>


                <div class="grid grid-raw-2 mt-4">
                    <label class=" text-xl text-teal-700">Email</label>
                    <input name="email" class="border-4 border-green-500 rounded-full " type="text" />
                </div>


                <div class="grid grid-raw-2 mt-4">
                    <label class=" text-xl text-teal-700">Birthday</label>
                    <input name="birthday" class="border-4 border-green-500 rounded-full " type="date" />
                </div>

                <div class="grid grid-raw-2 mt-4">
                    <label class=" text-xl text-teal-700">Identification Number</label>
                    <input name="idNumber" class="border-4 border-green-500 rounded-full " type="text" />
                </div>

                <div class="grid grid-raw-2 mt-4">
                    <label class=" text-xl text-teal-700">Lisence Number</label>
                    <input name="lisenceNumber" class="border-4 border-green-500 rounded-full " type="text" />
                </div>

                <div class="">
                    <button class=" mt-2 bg-myblue-200 hover:bg-myorange text-mywhite font-bold  py-2 px-4 rounded focus:outline-none focus:shadow-outline" style="height:50px;width:200px">
                        Sign Up
                    </button>
                </div>

                @TempData["AlreadyHave"]






            </div>






        }
    </div>
</body>
</html>
