@model VehicleVM

<div class="ml-8 mt-8">


    <div class="bg-slate-900 text-white " style="width:400px; height:200px">

        @{

            Vehicle v = Model.Vehicles.FirstOrDefault();

            decimal a = Model.Date * v.Price;

            string day;

            if (Model.Date > 1)
            {
                day = "days";
            }

            else { day = "day"; }


        }

        <div class="grid grid-raw-4 text-2xl">
            <div class="ml-8"> for @Model.Date @day</div>

            <hr />

            <div class="mt-2 ml-8"> Total Cars Price  @a $</div>
            <hr />

            <div class="mt-2 ml-8">Price per day @v.Price $</div>

            <hr />

            <div class="mt-2 text-4xl ml-24 ">
                <button  class=" bg-green-600 hover:bg-green-800">Continue</button>
            </div>
            <hr />

        </div>

        

    </div>
   


</div>

