
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailConfirm</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div class="mt-24 w-96 h-48"> 

        <label class="text-6xl text-center"> @TempData["isAccountActive"]</label>

       
    </div>
</body>
</html>
